.optional .single-modification {
    margin-bottom: 0px !important;
    border: none !important;
}

.optional .input-list .form-check .form-check-label {
    min-height: 40px !important;
}

.optional .input-list .form-check .form-check-label:before, .optional .input-list .form-check .form-check-label:after {
    top: 9px !important;
}

.optional .single-modification .form-check .radio.form-check-label::after {
    border-radius: 50% !important;
}

.order-item .qnt-total {
    margin-top: 10px;
}

.intl-tel-input {
    width: 100%;
}

.item-title {
    display: flex;
    justify-content: space-between;
}

.cart-item {
    position: relative;
    cursor: pointer;
}

.cart-item .remove-cart-item {
    position: absolute;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    top: 4px;
    background-color: #fff;
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    line-height: 15px;
}

.cart-item .count-cart-item {
    position: absolute;
    right: 15px;
    line-height: 15px;
    min-width: 20px;
    min-height: 20px;
    z-index: 1;
    top: 4px;
    background-color: #fff;
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1.25em;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
}

body.dark-mode .switchSVGColor svg {
    color: #fff !important;
    fill: #fff !important;
}
body.dark-mode .flag-mbl-input input
{
    color: #fff !important;
}

.btn-group .btn.myDeliveryButton {
    margin-left: -1px !important;
}

.welcomeLogo {
    border: 1px solid gray;
    border-radius: 10px;
}

.image-listview>li .item.darkMode {
    padding-left: 5px;
}

.image-listview.darkmode-switcher>li .item .in::after {
    display: none;
}
.image-listview.darkmode-switcher>li .item .in
{
    margin-left: 0px;
}
.image-listview.darkmode-switcher>li .item
{
    margin-left: 0px;
    padding-left: 0px;
}
.order-type-name
{
    padding-top: 10px;
}
.ulRestaurant{
padding-left: 0;
}
.restaurant-card .card-text
{
    margin-left: 10px;
    margin-bottom: 15px;
}
.restaurant-card h4.card-title
{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 15px;
}

.hide-incre-decre, .show-incre-decre{
    cursor: pointer;
    position: relative;
    z-index: 1;
}