.optional .single-modification {
    margin-bottom: 0px !important;
    border: none !important;
}

.optional .input-list .form-check .form-check-label {
    min-height: 40px !important;
}

.optional .input-list .form-check .form-check-label:before, .optional .input-list .form-check .form-check-label:after {
    top: 9px !important;
}

.optional .single-modification .form-check .radio.form-check-label::after {
    border-radius: 50% !important;
}

.order-item .qnt-total {
    margin-top: 10px;
}

.intl-tel-input {
    width: 100%;
}

.item-title {
    display: flex;
    justify-content: space-between;
}

.cart-item {
    position: relative;
}

.cart-item .remove-cart-item {
    position: absolute;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}